---
import type { CollectionEntry } from "astro:content";
import {sortByOrder} from "@libs/chapter";
import Item from "@components/chapter/item.astro";

interface Props {
    chapter: CollectionEntry<"chapter">;
    childrenChapters: CollectionEntry<"chapter">[];
}

const { chapter, childrenChapters } = Astro.props;
---

{
    childrenChapters.length ? (
        <li>
            <a href={`/chapter/${chapter.slug}`}>{chapter.data.title}</a>
            <ol class="pl-2">
                {childrenChapters.sort(sortByOrder).map((childChapter) => (
                        <Item chapter={childChapter}/>
                    ))}
            </ol>
        </li>
    ) : (
        <Item chapter={chapter} />
    )
}
