---
import { getEntry, type CollectionEntry, getEntryBySlug } from "astro:content";
import { glossaryHasLongFormExplanation } from "src/content/glossary/_";

interface Props {
    term: string;
}

const { term } = Astro.props;
const termEntry = await getEntry("glossary", term);
if (!termEntry) {
    throw new Error(
        `Glossary component used with term that didn't exist: ${term}`,
    );
}
---
{
    glossaryHasLongFormExplanation(termEntry) ? (
        <a class="cursor-help"
            href={`/glossary/${termEntry.slug}`}
            title={termEntry.data.definition}
        >
            {termEntry.data.term}
        </a>
    ) : (
        <em class="cursor-help" title={termEntry.data.definition}>{termEntry.data.term}</em>
    )
}